{% extends 'base.html.twig' %}
{% block title %}
    Operations list
{% endblock %}
{% block body %}
    <table class="blueTable"">
        <th>Direction</th>
        <th>Amount</th>
        <th>Amount Before</th>
        <th>Amount After</th>
        <th>Description</th>
        <th>Date</th>
    {% for  operation in operations_list %}
        <tr>
            <td width="70px">{{ operation.direction_name }}</td>
            <td width="70">{{ operation.amount }}</td>
            <td width="70">{{ operation.amount_before }}</td>
            <td width="70">{{ operation.amount_after }}</td>
            <td width="200">{{ operation.description }}</td>
            <td width="150">{{ operation.created_at|date("m/d/Y") }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}